body{
    
    background-color: cadetblue;
}
h1{
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: blue;
    text-align: center;
}
.flex-container{
    display: flex;
    height: 200px;
    align-items: flex-end;
    background-color: bisque;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 40px;
    border-radius: 30px;
    
    
}
.flex-item{
    display: flex;
    padding: 10px;
    margin: 10px;
    width: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background-color: dodgerblue;
    border-radius: 20px;
    border: 10px dotted blueviolet;
}

@media screen and (min-width:600px) {
    body {
        background-color: pink;
    }

    .flex-container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
