.flex-container{
    background-color: bisque;
    padding: 40px;
    margin-block: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    
}
.flex-item{
    padding: 35px;
    text-decoration: solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: dodgerblue;
}